<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue au Memory O'clock</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div id="homepage">
        <h1>Bienvenue au Memory O<span>'</span>clock !</h1>

        <h2>Classement des 10 premiers Joueurs</h2>
      
        <ul>
        {{#each allScores}}
        <li>
            <p><span>{{firstname}}</span> a terminé la partie en <span>{{timeWin}}</span> secondes </p>
        </li>
        {{/each}}
        </ul>

        <h3>Entraine toi pour en faire partie !!!</h3>
        <a href="/memory">Jouer au memory</a>
    </div>
</body>
</html>



