<!DOCTYPE html>
<html>
    <head>
       <title>Memory_Oclock</title>
       <link rel="stylesheet" href="stylesheets/memory.css">
      
      </head>
    <body>
        <div>
          <h1>Jeu de mémoire</h1>
        </div>
        <div id="memory_board"></div>
        <div id='progressbar1'></div>
        <div id="chrono">...</div>

        
       


       <script src="javascripts/memory.js"></script>
       <script src="javascripts/main.js"></script>
       <script src="javascripts/timer.js"></script>

    </body>
</html>
