//style de la vue homepage
#homepage {

    h1 {
        font-size: 3.5em;
        margin-bottom:0;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
        animation:clignote 1s infinite;
    }

    @media (max-width:500px){
       
        h1 {
            font-size: 2.2em;
         }
    
        h2 {
            font-size: 1em;
        }
    
        h3 {
            font-size: 1em;
           
        }
      }

    //on affiche une medaille pour les trois premiers de la liste
    li:nth-child(1){
        background-image:url(../images/medal_1.png);
    }
    li:nth-child(2){
        background-image:url(../images/medal_2.png);
    }
    li:nth-child(3){
        background-image:url(../images/medal_3.png);
    }
    
    li {
        list-style: none;
        width: 32vw;
        margin:1em auto;
        background-size: 1.5em;
        background-repeat:no-repeat;
        background-position-x: 2em;
        background-position-y: center;

        span {
            color:$creme-color;
            font-weight: bold;
            font-size:1.1em;
         }
    }

    @media (max-width:500px){
        ul {
            padding-left:0;
        }
        li {
            width: 95vw;
            background-position-x: 1em;
            font-size:0.8em;
            span {
                font-size:1em
            }
        }
    }
    a {
        text-decoration:none; 
        color:inherit;
        display:inline-block;
        margin-top:1vh;
        background:$creme-color; 
        font-weight:bold;
        padding:1em; border-radius:.5em;
     }


    //animation qui fait clignoter
    @keyframes clignote {
        0%{opacity: 1;}
        50%{opacity: 0;}
        100%{opacity: 1;}
      }
    
}