* :before, after {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #0ac3a7;
  text-align: center; }

img {
  max-width: 100%; }

html {
  font-family: "Poppins", Arial, sans-serif; }

h1 {
  color: #f9f7d0;
  font-weight: bolder;
  text-align: center; }
  h1 span {
    color: red; }

#homepage h1 {
  font-size: 3.5em;
  margin-bottom: 0; }

#homepage h2 {
  font-size: 1.5em; }

#homepage h3 {
  font-size: 1.2em;
  animation: clignote 1s infinite; }

@media (max-width: 500px) {
  #homepage h1 {
    font-size: 2.2em; }
  #homepage h2 {
    font-size: 1em; }
  #homepage h3 {
    font-size: 1em; } }

#homepage li:nth-child(1) {
  background-image: url(../images/medal_1.png); }

#homepage li:nth-child(2) {
  background-image: url(../images/medal_2.png); }

#homepage li:nth-child(3) {
  background-image: url(../images/medal_3.png); }

#homepage li {
  list-style: none;
  width: 32vw;
  margin: 1em auto;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position-x: 2em;
  background-position-y: center; }
  #homepage li span {
    color: #f9f7d0;
    font-weight: bold;
    font-size: 1.1em; }

@media (max-width: 500px) {
  #homepage ul {
    padding-left: 0; }
  #homepage li {
    width: 95vw;
    background-position-x: 1em;
    font-size: 0.8em; }
    #homepage li span {
      font-size: 1em; } }

#homepage a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-top: 1vh;
  background: #f9f7d0;
  font-weight: bold;
  padding: 1em;
  border-radius: .5em; }

@keyframes clignote {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#memoryGame #memory_board {
  display: flex;
  flex-wrap: wrap;
  background: #0CA289;
  width: 63vw;
  height: 60vh;
  padding: 1vw;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px #615961; }

#memoryGame .card .back {
  background: url("/images/logo_oclock.jpg") no-repeat center;
  width: 6vw;
  height: 8vh;
  margin: 0.5vw;
  padding: 1vw; }

#memoryGame .card .front.blocked,
#memoryGame .card .back.blocked {
  pointer-events: none; }

@media (max-width: 500px) {
  #memoryGame #memory_board {
    width: 80vw;
    height: 65vh;
    padding: 2vh 9vw; }
  #memoryGame .card .back {
    width: 18vw;
    height: 8vh;
    margin: 1vw;
    padding: 0;
    background-size: cover; } }

#memoryGame h1 {
  font-size: 3em;
  margin: 1vh; }

#memoryGame p {
  display: block;
  width: 65vh;
  margin: 1vh auto;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  color: #f9f7d0; }

@media (max-width: 500px) {
  #memoryGame h1 {
    font-size: 2em; }
  #memoryGame p {
    font-size: 1em;
    width: 100vw; } }

#memoryGame .progressbar {
  width: 65vw;
  margin: 2vh auto; }

#memoryGame .progressbar .inner {
  height: 15px;
  animation: progressbar-countdown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear; }

@keyframes progressbar-countdown {
  0% {
    width: 0%;
    background: #f9f7d0; }
  50% {
    width: 50%;
    background: orange; }
  100% {
    width: 100%;
    background: red; } }

#memoryGame #chrono span {
  color: red; }

/*# sourceMappingURL=style.css.map */