// on declare les variables des couleurs du site
$green-color: #0ac3a7;
$greenDark-color:#0CA289;
$creme-color:#f9f7d0;

// Pour que les width des blocks soient calculés de bord à bord
* :before, after {
    box-sizing:border-box;
}


body {
margin:0; //on supprime la marge par defaut des navigateurs
background-color: $green-color;
}

//les images ne seront pas plus grandes que la page
img {max-width:100%;}

html {
   font-family: "Poppins", Arial, sans-serif;
  }
  
h1 {
color: $creme-color;
font-weight: bolder;
text-align: center;
}

@import "./homepage.scss";
@import "./memory.scss";
 
 